
.vs/compiler/FileContentIndex/2a6397df-36d7-442a-b011-068461368d98.vsidx

.vs/compiler/v17/.suo

.vs/compiler/v17/

.vs/compiler/FileContentIndex/211b8a77-3fab-4dfd-bd39-aa49c1e02eb4.vsidx

.vs/compiler/FileContentIndex/0d701a85-6ae2-45af-af45-18608fc3a68f.vsidx

*.vsidx

*.db

*.db-shm

*.db-wal
